.t-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.t-container p {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    transition: 0.5s;
}

.scheduled-time {
    color: gray;
    font-size: 0.7em;
    vertical-align: top;
}